body {
    font-family: $mainFont;
}

h1 {
    font-weight: 900;
    font-size: 34px;
}

p,
ul,
ol {
    font-weight: 300;
    font-size: 16px;
}

a,
a:hover {
    color: $mainGreen;
}

button,
a {
    outline: none !important;
}

hr {
    border-width: 2px;

    &.thin {
        border-width: 1px;
    }
}

strong {
    font-weight: 700;
}

.padding-0 {
    padding-right: 0;
    padding-left: 0;
}

.fz-14 {
    font-size: 14px;
}

.list-group-item:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.gray-link,
.gray-link:hover {
    color: #a3a3a3
}

.hidden {
    display: none;
}

.simple {
    header {
        margin: 30px 0 80px;
    }

    h1 {
        font-size: 24px;
        font-weight: normal;
        margin-bottom: 15px;
    }
}

.scroll-down {
    height: 100vh;
    overflow-y: auto;
}

.left-bg {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

    h2 {
        font-weight: 900;
        padding: 0 30px;
    }

    .signature {
        position: absolute;
        bottom: 50px;
        left: 30px;

        p {
            margin-top: 24px;
            font-size: 14px;
            font-weight: 900;
        }
    }
}

.progress {
    border-radius: 10px;
    border: 2px solid $mainBlue;
    background: none;
    padding: 2px;
    height: 17px;
}

.progress-bar {
    border-radius: 8px;
    background-color: #CED5FE;
}

.card {
    border-radius: 8px;
}

#setup-company {
    padding: 0 !important;
}

.color-blue {
    color: $mainBlue !important;
}

.color-green {
    color: $mainGreen !important;
}

.alert {
    font-size: 14px;

    &.alert-warning {
        background-color: #FCF9E9;
        border-color: #FCF9E9;
        color: #474747;
        padding: 24px;
        font-size: 14px;

        .icon-warning {
            color: #f5be58;
            margin-right: 40px;
            position: relative;

            &:before {
                position: absolute;
                font-size: 28px;
                top: -20px;
            }
        }
    }

    &.alert-danger {
        background-color: #fff5f0;
        border-color: #fff5f0;
        color: #474747;

        .icon-warning {
            color: #dc3522;
            margin-right: 40px;
            position: relative;

            &:before {
                position: absolute;
                font-size: 28px;
                top: -20px;
            }
        }
    }
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
    list-style-type: none;

    &+label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }

    &+label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 24px;
        height: 24px;
        background: white;
        border: 2px solid #d1d1d1;
        border-radius: 100%;
    }

    &:hover+label:before {
        background: $mainGreen;
        border-color: $mainGreen;
    }

    &:checked+label:before {
        background: $mainGreen;
        border-color: $mainGreen;
    }

    &:disabled+label {
        color: #b8b8b8;
        cursor: auto;
    }

    &:disabled+label:before {
        box-shadow: none;
        background: #ddd;
    }

    &:checked+label:after {
        content: '';
        position: absolute;
        left: 7px;
        top: 13px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow:
            2px 0 0 white,
            4px 0 0 white,
            4px -2px 0 white,
            4px -4px 0 white,
            4px -6px 0 white,
            4px -8px 0 white;
        transform: rotate(45deg);
    }
}