body {
    font-family: $mainFont;

    p {
        font-weight: 300;
        font-size: 16px;
    }

    a,
    a:hover {
        color: $mainGreen;
    }

    button,
    a{
        outline: none !important;
    }

    .padding-0 {
        padding-right: 0;
        padding-left: 0;
    }

    .fz-14 {
        font-size: 14px;
    }

    .list-group-item:first-child {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .list-group-item:last-child {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .gray-link,
    .gray-link:hover {
        color: #a3a3a3
    }

    .hidden {
        display: none;
    }

    .simple {
        header {
            margin: 30px 0 80px;
        }

        h1 {
            font-size: 24px;
            font-weight: normal;
            margin-bottom: 15px;
        }
    }

    .scroll-down {
        height: 100vh;
        overflow-y: auto;
    }

    .left-bg {
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;

        h2 {
            font-weight: 900;
            padding: 0 30px;
        }

        .signature {
            position: absolute;
            bottom: 50px;
            left: 30px;

            p {
                margin-top: 24px;
                font-size: 14px;
                font-weight: 900;
            }
        }
    }

    .progress {
        border-radius: 10px;
        border: 2px solid $mainBlue;
        background: none;
        padding: 2px;
        height: 17px;
    }

    .progress-bar {
        border-radius: 8px;
        background-color: #CED5FE;
    }

    .card {
        border-radius: 8px;
    }

    #setup-company {
        padding: 0 !important;
    }
}