@font-face {
  font-family: 'icomoon';
  src:
    url('../fonts/icomoon.ttf?p2v3fz') format('truetype'),
    url('../fonts/icomoon.woff?p2v3fz') format('woff'),
    url('../fonts/icomoon.svg?p2v3fz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

.icon-pencil:before {
  content: "\e900";
}
.icon-trash:before {
  content: "\e901";
}
.icon-cloud-upload:before {
  content: "\e902";
}
.icon-paste:before {
  content: "\e903";
}
.icon-plane:before {
  content: "\e904";
}
.icon-question:before {
  content: "\e905";
}
.icon-ruler:before {
  content: "\e906";
}
.icon-spray:before {
  content: "\e907";
}
.icon-tree:before {
  content: "\e908";
}
.icon-undo:before {
  content: "\e909";
}
.icon-warning:before {
  content: "\e90a";
}
.icon-arrow-left:before {
  content: "\e90b";
}
.icon-close:before {
  content: "\e90c";
}
.icon-cloud:before {
  content: "\e90d";
}
.icon-cvv:before {
  content: "\e90e";
}
.icon-dots:before {
  content: "\e90f";
}
.icon-lock:before {
  content: "\e910";
}
.icon-logo-small:before {
  content: "\e911";
}
.icon-okay:before {
  content: "\e912";
}
