@media screen and (min-width: 992px) {

    .index .container-fluid,
    .sign-up .container-fluid {
        padding: 0 0 0 30px;
    }
}

@media screen and (max-width: 992px) {
    .sign-up {
        .container-fluid {
            .row {
                &>.col-lg-4 {
                    display: none;
                }
            }
        }
    }

    .sign-up {

        div,
        p {
            font-size: 14px;
        }

        header {
            margin: 50px 0 28px;

            img {
                margin: 0 auto;
            }
        }

        h1 {
            text-align: center;
        }

        .choose-goal {
            margin-bottom: 30px;

            a {
                .circle {
                    margin: 0 auto 20px;
                }
            }
        }
    }

    .container-fluid {
        padding: 0 15px;
    }

    .hidden-mobile {
        display: none !important;
    }

    .show-mobile {
        display: block !important;
    }

    .navigation {
        height: 85px;

        .container-fluid {
            padding-left: 0;
            padding-right: 0;
        }

        .brand {
            padding-top: 21px;
            height: 85px;
            padding-left: 20px;
        }

        .nav-mobile {
            display: block;
            height: 85px;
        }

        .nav-container {
            width: 100%;
            left: 0;
            top: 20px;

            nav {
                width: 100%;
                padding: 0 0 15px;

                &.show {
                    background-color: #fff;
                    height: calc(100vh - 85px);
                }

                .col-lg-6 {
                    .nav-list {
                        width: 260px;
                        margin: 0 auto;
                        padding-top: 0;
                        display: none;
                        float: none;

                        li {
                            float: none;

                            a {
                                padding: 12px;
                                line-height: 20px;
                                border: none;
                                font-size: 24px;
                                text-align: center;

                                &.question {
                                    margin-left: 0;
                                    border: none;

                                    i {
                                        display: none;
                                    }

                                    span {
                                        display: block;
                                    }
                                }

                                &.active {
                                    border: none;
                                }
                            }
                        }

                        .user-info {
                            display: none;
                        }

                        .dropdown {
                            width: 100%;
                            margin: 20px 0 0 0;
                            padding: 2px 0 0 0;
                            border-top: 1px solid #ccc;

                            .nav-dropdown {
                                display: block !important;
                                box-shadow: none;
                                border-radius: unset;
                                width: 100%;

                                li {
                                    padding: 0 !important;

                                    >a {
                                        padding: 15px 0;
                                        text-align: left;
                                        font-size: 18px;
                                    }

                                    &.logout {
                                        a {
                                            color: $btnGrayColor;
                                        }
                                    }

                                    &:last-child {
                                        border: none;
                                    }

                                    &:hover,
                                    &:active {
                                        background: none;
                                    }
                                }

                                .switch-account-wrap {
                                    ul {
                                        float: none;

                                        li {
                                            a {
                                                padding: 12px;
                                                font-size: 15px;
                                            }
                                        }
                                    }
                                }

                                .switch-account-wrap,
                                .notifications-wrap {
                                    top: 0;
                                    position: fixed;
                                    height: 100vh;

                                    h3 {
                                        font-size: 16px;
                                    }

                                    .dismiss-all {
                                        right: 15px;
                                    }
                                }
                            }

                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .nav-dropdown {
            position: static;
        }
    }

    .app {
        .content {
            padding: 0 25px;

            .progress-wrap {
                margin-top: 20px;

                .float-right {
                    width: 100%;
                    float: none !important;
                }
            }

            .setup-items {
                .card {
                    flex: unset;
                    border: 1px solid rgba(0, 0, 0, .125);
                    border-bottom: 0;
                    border-radius: 0;

                    &:nth-child(1),
                    &:nth-child(3) {
                        border-right: 0;
                    }

                    &:nth-child(3),
                    &:nth-child(4) {
                        border-bottom: 1px solid rgba(0, 0, 0, .125);
                    }

                    &:nth-child(1) {
                        border-top-left-radius: 8px;
                    }

                    &:nth-child(2) {
                        border-top-right-radius: 8px;
                    }

                    &:nth-child(3) {
                        border-bottom-left-radius: 8px;
                    }

                    &:nth-child(4) {
                        border-bottom-right-radius: 8px;
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .hidden-mobile {
        display: none !important;
    }

    .show-mobile {
        display: block !important;
    }

    .app {
        .content {
            .setup-items {
                .card {
                    border: 1px solid rgba(0, 0, 0, .125) !important;
                    border-radius: 8px;
                    margin-bottom: 20px;
                }
            }

            .filters {
                h3 {
                    margin-bottom: 20px;
                }

                ul {
                    border-bottom: 2px solid #dee2e6;
                    margin-bottom: 20px;

                    li {
                        display: inline-block;
                        width: 33.333%;
                        text-align: center;

                        a {
                            padding: 0 0 12px 0;

                            &:before {
                                display: none;
                            }

                            &.active {
                                &:after {
                                    content: '';
                                    width: 100%;
                                    height: 4px;
                                    position: absolute;
                                    background-color: $mainGreen;
                                    left: 0;
                                    bottom: -2px;
                                }
                            }
                        }
                    }
                }
            }

            .table {

                &.pending,
                &.scheduled,
                &.planted {
                    tbody {
                        .trees-badges {
                            margin-top: 20px;
                            display: block;

                            .badge {
                                font-size: 12px;
                                text-transform: uppercase;
                                margin-right: 2px;

                                &.badge-success {
                                    background: none;
                                    border: 1px solid $mainGreen;
                                    color: $mainGreen;
                                }

                                &.badge-primary {
                                    background: none;
                                    border: 1px solid $mainBlue;
                                    color: $mainBlue;
                                }

                                &.badge-secondary {
                                    background: none;
                                    border: 1px solid #a3a3a3;
                                    color: #a3a3a3;
                                }
                            }
                        }

                        td {
                            &:nth-child(2) {
                                font-size: 14px;

                                h3 {
                                    font-size: 14px;
                                    font-weight: 900;
                                    line-height: 1.5;
                                }
                            }

                            &:nth-child(3),
                            &:nth-child(4) {
                                display: none;
                            }
                        }
                    }
                }
            }

            .invoice {
                .col-md-4 {
                    margin-bottom: 30px;

                    h3 {
                        font-size: 16px;
                    }
                }

                .col-md-12 {
                    h3 {
                        margin-top: 10px;
                    }
                }
            }

            .extentions {
                h1 {
                    font-size: 18px;
                    margin: 10px 0;
                }
                .filters {
                    ul {
                        li {
                            width: 50%;
                        }
                    }
                }
            }
        }

        footer {
            font-size: 12px;

            .icon-tree {
                font-size: 30px;
                margin-bottom: 10px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .index {
        .icon {
            margin-bottom: 15px;
        }

        .choose-goal {
            a {
                text-align: center;
            }

            .justify-content-between {
                &:after {
                    display: none;
                }
            }
        }
    }

    .app {
        .content {
            .top-buttons {
                display: flex;
                justify-content: space-between;

                .btn {
                    width: 48%;
                    padding: 0;
                    margin-top: 20px;
                }
            }

            .account-details {
                flex-wrap: wrap;
                text-align: center;

                .float-left {
                    width: 100%;
                    float: none !important;

                    img {
                        margin-bottom: 15px;
                    }
                }
            }

            .get-started {
                padding: 20px;
                flex-wrap: wrap;
                text-align: center;

                .float-left {
                    width: 100%;
                    float: none !important;

                    img {
                        margin-bottom: 15px;
                    }
                }

                .col,
                .col-auto {
                    width: 100% !important;
                    display: block;
                    flex: unset;

                    div,
                    p {
                        margin-bottom: 10px;
                    }
                }

                .btn {
                    margin-top: 10px;
                    width: 100%;
                }
            }

            .accout-stats {
                margin-top: 15px;

                .card {
                    margin-bottom: 0;
                    border-radius: 0;
                    border-bottom: 0;
                    text-align: left;

                    &:nth-child(1) {
                        border-top-left-radius: 8px;
                        border-top-right-radius: 8px;
                    }

                    &:last-child {
                        border-bottom: 1px solid rgba(0, 0, 0, .125);
                        border-bottom-left-radius: 8px;
                        border-bottom-right-radius: 8px;
                    }

                    .card-body {
                        padding-left: 20px;
                        justify-content: flex-start !important;

                        .float-left:nth-child(1) {
                            width: 60px;
                        }

                        .float-left:nth-child(2) {
                            width: 80%;

                            h3,
                            p {
                                display: inline-block;
                            }

                            h3 {
                                font-size: 24px;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }

            .load-more {
                margin-top: 0;
            }

            .history,
            .invoice .d-flex {
                flex-wrap: wrap;
                text-align: center;

                .float-left,
                .col,
                .col-auto {
                    width: 100%;

                    h1 {
                        margin-top: 20px;
                        font-size: 24px;
                    }

                    .btn {
                        width: 100%;
                        margin-top: 10px;
                        height: 40px;
                        font-size: 14px;
                        line-height: 40px;
                        padding: 0;
                        border-radius: 5px !important;
                    }
                }
            }

            .invoice {
                .col-md-12 {
                    h3 {
                        margin-top: 10px;
                    }
                }

                .table {
                    tr {
                        td {
                            font-size: 14px;

                            &:first-child {
                                display: none;
                            }

                            img {
                                &.mr-3 {
                                    margin-right: 5px !important;
                                }
                            }
                        }

                        &:last-child {
                            td {
                                font-size: 12px;
                            }
                        }
                    }

                    .hidden {
                        display: block;

                    }

                    .qty-trees {
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: unset;
    }
}

@media screen and (min-width: 992px) {
    .nav-list {
        display: block !important;
    }
}