@media (max-width: 1200px) {
    .index .container-fluid,
    .sign-up .container-fluid {
        padding: 0 0 0 30px;
    }
}

@media (max-width: 992px) {
    .sign-up {
        .container-fluid {
            .row {
                &>.col-lg-4 {
                    display: none;
                }
            }
        }
    }

    .container-fluid {
        padding: 0 15px;
    }
}

@media (max-width: 768px) {
    .hidden-mobile {
        display: none !important;
    }

    .show-mobile {
        display: block !important;
    }

    .sign-up {
        div, p{
            font-size: 14px;
        }

        header {
            margin: 50px 0 28px;

            img {
                margin: 0 auto;
            }
        }

        h1{
            text-align: center;
        }

        .choose-goal {
            margin-bottom: 30px;

            a {
                text-align: center;

                .circle {
                    margin: 0 auto 20px;
                }

                .justify-content-between {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    
}