@media screen and (min-width: 992px) {
    .index .container-fluid,
    .sign-up .container-fluid {
        padding: 0 0 0 30px;
    }
}

@media screen and (max-width: 992px) {
    .sign-up {
        .container-fluid {
            .row {
                &>.col-lg-4 {
                    display: none;
                }
            }
        }
    }

    .sign-up {

        div,
        p {
            font-size: 14px;
        }

        header {
            margin: 50px 0 28px;

            img {
                margin: 0 auto;
            }
        }

        h1 {
            text-align: center;
        }

        .choose-goal {
            margin-bottom: 30px;

            a {
                text-align: center;

                .circle {
                    margin: 0 auto 20px;
                }

                .justify-content-between {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    .container-fluid {
        padding: 0 15px;
    }

    .hidden-mobile {
        display: none !important;
    }

    .show-mobile {
        display: block !important;
    }

    .navigation {
        height: 85px;

        .brand {
            padding-top: 21px;
        }

        .nav-mobile {
            display: block;
            height: 85px;
        }

        nav {
            width: 100%;
            padding: 85px 0 15px;

            ul {
                display: none;
                padding-top: 20px;
                background-color: #fff;

                li {
                    float: none;

                    a {
                        padding: 15px;
                        line-height: 20px;
                        border: none;
                        font-size: 24px;
                        text-align: center;

                        &.question {
                            margin-left: 0;
                            border: none;

                            i {
                                display: none;
                            }

                            span {
                                display: block;
                            }
                        }
                    }

                    ul li a {
                        padding-left: 30px;
                    }
                }
            }
        }

        .nav-dropdown {
            position: static;
        }
    }
}

@media screen and (max-width: 768px) {
    .hidden-mobile {
        display: none !important;
    }

    .show-mobile {
        display: block !important;
    }
}

@media screen and (max-width: 576px) {
}

@media screen and (min-width: 992px) {
    .nav-list {
        display: block !important;
    }
}