.sign-up {
    .choose-provider {
        text-align: center;

        a {
            height: 53px;
            padding: 0;
            line-height: 53px;

            &:first-child {
                img {
                    margin-right: 10px;
                }
            }

            img {
                display: inline-block;
                margin-top: -2px;
            }
        }
    }

    form {
        legend {
            text-align: center;
            font-size: 16px;
            color: #757575;
            display: block;
            position: relative;
            top: 27px;
            width: 220px;
            background-color: #fff;
            margin: 0 auto;
        }

        hr {
            &.thin {
                margin-bottom: 40px;
            }
        }

        .help{
            text-align: center;
            margin: 30px 0;
            line-height: 40px;
        }
    }
}