.sign-up {
    .choose-provider {
        text-align: center;

        a {
            height: 53px;
            padding: 0;
            line-height: 53px;

            &:first-child {
                img {
                    margin-right: 10px;
                }
            }

            img {
                display: inline-block;
                margin-top: -2px;
            }
        }
    }

    form {
        legend {
            text-align: center;
            font-size: 16px;
            color: #757575;
            padding: 20px 0 10px;
            display: block;
            position: relative;

            &:before {
                content: '';
                display: block;
                width: 170px;
                border-top: 1px solid $btnGrayBg;
                position: absolute;
                top: 33px;
                left: 0;
            }

            &:after {
                content: '';
                display: block;
                width: 170px;
                border-top: 1px solid $btnGrayBg;
                position: absolute;
                top: 33px;
                right: 0;
            }

        }

        .help{
            text-align: center;
            margin: 30px 0;
            line-height: 40px;
        }
    }
}